<div class="booking-container">
    <h2>{{"BOOKING.BOOK_APPOINTMENT" | translate }} {{ dentalOfficeName }}</h2>

    <!-- Dentist Selection -->
    <label>{{"BOOKING.SELECT_DENTIST" | translate }}</label>
    <select [(ngModel)]="selectedDentistId" (change)="loadAvailableServices(); loadAvailableTimes();">
        <option *ngFor="let dentist of availableDentists" [value]="dentist.id">
            {{ dentist.user.firstName }} {{ dentist.user.lastName }} - {{ dentist.specialization }}
        </option>
    </select>

    <!-- Service Selection -->
    <label>{{"BOOKING.SELECT_SERVICE" | translate }}</label>
    <select [(ngModel)]="selectedServiceId">
        <option *ngFor="let service of availableServices" [value]="service.id">
            {{ service.name }}
        </option>
    </select>

    <!-- Date Selection -->
    <label>{{"BOOKING.SELECT_DATE" | translate }}</label>
    <input type="date" [(ngModel)]="selectedDate" (change)="loadAvailableTimes()" />

    <!-- Available Time Selection -->
    <label>{{"BOOKING.SELECT_TIMESLOT" | translate }}</label>
    <select [(ngModel)]="selectedStartTime">
        <option *ngFor="let time of availableTimes" [value]="time">
            {{ time }}
        </option>
    </select>

    <button (click)="confirmBooking()">{{"BOOKING.CONFIRM_APPOINTMENT" | translate }}</button>
</div>
