.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
  }

  .nav-right {
    display: flex;
    align-items: center;
  }
  
  .auth-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
  }
  