<mat-toolbar class="navbar">
  <div class="nav-left">
    <a [routerLink]="'/home'"><img style='width: 170px;' src="/logo.png" alt="Dental App" /></a>
  </div>
  <div class="nav-right">
    <app-language-selector></app-language-selector>
    <a class="auth-btn" *ngIf="!authService.isAuthenticated()" [routerLink]="'/auth/login'">{{ 'NAV.LOGIN' | translate
      }}</a>
    <a class="auth-btn" *ngIf="authService.isAuthenticated()" (click)="logout()">{{'NAV.LOGOUT' | translate}}</a>
  </div>
</mat-toolbar>
<span *ngIf="user">Welcome, {{ user.firstName }}!</span>

<router-outlet></router-outlet>