<mat-toolbar class="navbar">
  <div class="nav-left">
    <a [routerLink]="'/home'"><img style='width: 170px;' src="/logo.png" alt="Dental App" /></a>
  </div>
  <div class="nav-right">
    <div class="language-switch">
      <span>SR</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
    <a class="dentist-btn" *ngIf="!authService.isAuthenticated()" [routerLink]="'/auth/login'">Login</a>
    <a class="dentist-btn" *ngIf="authService.isAuthenticated()" (click)="logout()">Logout</a>
  </div>
</mat-toolbar>
<span *ngIf="user">Welcome, {{ user.firstName }}!</span>

<router-outlet></router-outlet>
