.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.register-card {
    padding: 20px;
    width: 400px;
    background: white;
    box-shadow: 5px 4px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.register-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}

.register-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-btn:disabled {
    background-color:rgba(0, 0, 0, 0.1);
}

.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}